@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "InsertRentForm";
}
    <div class="row">
        @using (Html.BeginForm("InsertRental", "RentalController", FormMethod.Post))
        {
            <div class="form-row">
                <div class="form-group">
                    <div class="form-group col-lg-6">
                        <select id="Make" name="Make" class="form-control">
                            <option value="0" disabled selected>None</option>
                            <option value="Audi">Audi</option>
                            <option value="BMW">BMW</option>
                            <option value="Lexus">Lexus</option>
                            <option value="Porsche">Porsche</option>
                            <option value="Subaru">Subaru</option>
                        </select>
                        <label> Make </label>
                    </div>

                    <div class="form-group">
                        <select id="Model" name="Model" class="form-control">
                            <option value="0" disabled selected>None</option>
                            <option value="Compact">Compact</option>
                            <option value="Luxury">Luxury</option>
                            <option value="Standard">Standard</option>

                        </select>
                        <label> Model </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6">

                    <input type="date" class="datepicker form-control" name="StartDate" />
                    <label>Start Date</label>
                </div>
                <div class="col-lg-6">

                    <input type="date" class="datepicker form-control" name="EndDate" />
                    <label>End Date</label>
                </div>
                <div class="col-lg-2">
                    <input placeholder="Year" id="Year" type="text" class="validate" name="Year">
                    <label for="Year">Year</label>
                </div>
                <div class="form-group">

                    <div class="hide">
                        <input placeholder="Total" id="Total" type="text" class="validate" name="Total" value=0>
                        <label for="Total">Total</label>
                    </div>
                    <div class="hide">
                        <input placeholder="Total" id="Total" type="text" class="validate" name="Total" value=0>
                        <label for="Total">Total</label>
                    </div>
                </div>
            </div>



            <button class="btn waves-effect waves-light black" type="Reset" value="Reset" name="action" style="right: 20px;">Reset</button>

            <button class="btn waves-effect waves-light black" type="Submit" value="Submit" name="action">Send</button>


        }
    </div>
